@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white
*/

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }


  header > .searchline {
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top:5px;
    align-content: center;
  }

  .logo {
      width: 70px;
      margin-right: 1rem;

  }

 .suchfeld img {
      width: 20px;
      margin-right: 1rem;
      text-align: center;
      padding: 5px;
      align-items:center;
      margin: 5px;

    
  }
.suchfeld {
    box-shadow:grey;
    background-color: rgb(232,217,217,.3);
margin-top:15px;
color:white;
width:600px;
height: 40px;

  }





